.copyright .row {
    display: flex;
    justify-content: space-between;
}

.copyright .row .socials a {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
	transition: 0.3s ease;
    color: black;
}

.copyright .row .socials a:hover {
    color: red;
}

.copyright .row .socials a:not(:first-child) {
    margin-left: 20px;
}

.footer-one a {
    color: black;
}

.footer-one a:hover {
    color: black;
    text-decoration: underline;
}

.footer-one h6 {
    font-weight: bold;
}