@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #ebebeb;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    transition: all .3s;
}

.top-bar {
    display: block;
    background-color: #101010;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .03rem;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top-bar > a {
    background-color: transparent;
    text-decoration: none;
    color: #ebebeb;
    transition: all .2s;
}

.header {
    border-bottom: 1px solid #d9d9d9;
    transition: all .2s;
    position: relative;
}